.carousel {
  border-radius: 10px;
  @apply lg:w-[430px] h-full lg:h-[260px];
  display: flex;
  overflow: hidden;
  position: relative;
}

.carousel-slide {
  flex: 0 0 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
}

.carousel-dots{
  position: absolute;
  @apply mt-[150px] lg:mt-[200px];
  display: flex;
}

.carousel-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.5;
  margin: 5px;
  cursor: pointer;
}

.carousel-dot.active {
  background-color: white;
  opacity: 1;
}
.gcarousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gcarousel {
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  position: relative;
}

.gcarousel-slide {
  flex: 0 0 100%;
  transition: transform 0.5s ease-in-out;
}

.gcarousel-slide img {
  width: 100%;
  height: 100%;
}
