@tailwind base;
@tailwind components;
@tailwind utilities;
/* "homepage": "http://abdurahmoniy.github.io/germes" */

.box_shdw, .bo_shdw {
  box-shadow: 0px 1px 10px 0px #d0d0d040;
}

input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.out_off {
  outline: 1px solid #fff;
  outline-offset: -15px;
  padding: 40px;
}
.shadowb {
  box-shadow: 0px 1px 20px 0px #d0d0d066;
}
.hov_con:hover i {
  color: #fff;
  transition: all 0.5s;
}
.bg_mob {
  background-image: url(./assets/mobban.png);
  background-size: cover;
}
.bo_shdw {
  display: none;
}
.zind img{
  z-index: -1;
}
.resp_menu{
  z-index: 10;
}
.bo_shdw_visible {
  display: block;
  animation: bo_shdw 0.5s ease-in-out both;
}
.closeRespMenu{
  display: none;
}

.openRespMenu{
  display: block;
  animation: respMenu 0.5s ease-in-out both;

}

/* Add this CSS to your stylesheets */
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  position: relative;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #000;
}

/* Add any additional styling you need for the modal */

@keyframes bo_shdw {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes respMenu {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@media (max-width: 400px){
  .out_off {
    outline: none;
  }
}