@tailwind base;
@tailwind components;
@tailwind utilities;

.box_shdw, .bo_shdw {
  box-shadow: 0px 1px 10px 0px #d0d0d040;
}

input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.out_off {
  outline: 1px solid #fff;
  outline-offset: -15px;
  padding: 40px;
}
.shadowb {
  box-shadow: 0px 1px 20px 0px #d0d0d066;
}
.hov_con:hover i {
  color: #fff;
  transition: all 0.5s;
}
.bg_mob {
  background-image: url(./assets/mobban.png);
  background-size: cover;
}
.bo_shdw {
  display: none;
}
.zind img{
  z-index: -1;
}
.resp_menu{
  z-index: 10;
}
.bo_shdw_visible {
  display: block;
  animation: bo_shdw 0.5s ease-in-out both;
}
.closeRespMenu{
  display: none;
}

.openRespMenu{
  display: block;
  animation: respMenu 0.5s ease-in-out both;

}
@keyframes bo_shdw {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes respMenu {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@media (max-width: 400px){
  .out_off {
    outline: none;
  }
}